# SPDX-FileCopyrightText: 2017 Technical University of Munich
#
# SPDX-License-Identifier: BSD-3-Clause

# KDevelop
.kdev4/
*.kdev4

# VS Code
.vscode/

# Test
test/base-test/XdmfWriter
test/base-test/puml.o
test/base-test/config.log
test/base-test/.sconf_temp/
test/base-test/.sconsign.dblite
test/base-test/build/
test/partition-test/build/
